@import 'tailwindcss';

@theme {
    --color-background: #efece3;
    --color-text: #000;
    --color-detail: #8fabd4;
    --color-accent: #4a70a9;
    --color-success: #73af6f;
    --color-danger: #dc0e0e;
}
